.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white; 
}


// .modal-switch {
//     padding: 0px 10% 20px 10%;
//     background: none;
//     border:none;
//     color:rgb(26, 153, 196);
//     font-size: 1.5vh;
//     text-decoration: none;
// }

// .modal-switch:hover {
//     cursor: pointer;
//     text-decoration: underline;
// }

// .modal-switch:focus, textarea {
//     border: none;
//     outline: none;
// }

// .modal-background {
//     opacity: 0;
//     -webkit-transition: opacity 0.6s cubic-bezier(0.18, 0.63, 0.38, 0.91);
//     -moz-transition: opacity 0.6s cubic-bezier(0.18, 0.63, 0.38, 0.91);
//     -ms-transition: opacity 0.6s cubic-bezier(0.18, 0.63, 0.38, 0.91);
//     -o-transition: opacity 0.6s cubic-bezier(0.18, 0.63, 0.38, 0.91);
//     transition: opacity 0.6s cubic-bezier(0.18, 0.63, 0.38, 0.91);
//     position: absolute;
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     background: rgba(0, 0, 0, 0.7);
//     z-index: 10;
// }

// .modal-child {
//     opacity: 0;
//     -webkit-transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
//     -moz-transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
//     -ms-transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
//     -o-transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
//     transition: opacity, transform 0.8s cubic-bezier(0.18, 0.63, 0.38, 0.91);
//     position: absolute;
//     margin: 12vh 25% 15% 25%;
//     transform: scale(0.9);
// }

// .visible {
//     opacity: 1;
//     transform: scale(1.0);

// }

//  .login-form-box > .login-form > .date {
//     min-width: 20%;
//     max-width: 39%;
// }
