.login-form-container{
    display: flex;
    justify-content: space-evenly;
    align-self: flex-start;
    width: 500px;
    height: auto;
}

////////////// login-form-box ////////////////////////

.login-form-box{
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 10px;
    border-radius:3px;
    justify-content: center;
    max-width: max-content;
}

.login-form-box > * {
    min-width: 100%;
    text-align: center;
}

.login-form-box > .login-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.login-form-box > .login-form > label {
    
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 70%;
    margin-bottom: 5px;
}



/////////// errors /////////////

.login-form-box ul {
    margin-left: -5%;
    list-style: none;
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.login-form-box ul > li {
    padding-bottom: 2px;
}


////////////// login-form ////////////////////

.login-form p:first-child {
    margin-top: 10px;
}

.login-form > label > input {
    background-color: white;
    border: 1px solid #aeaeae6b;
    min-width: 97%;
    color: #bbbbbb;
    margin: 10px auto 10px auto;
    padding: 22px 0px 20px 15px;
    border-radius: 3px;
}


.login-form > label > input:focus {
    outline: none;
    border: 2px solid forestgreen;
    color:black;
    box-shadow: none;
}

.login-form > input:last-of-type {
    margin-bottom: 30px;
}


//////// closing x //////////////////

.close-x {
    margin: 1px 0 -8px -4%;
    padding-top: 1px;
    padding-left: inherit;
    min-width: 30px;
    height: 40px;
    align-items: flex-start;
    display: block;
    justify-content: flex-start;
    line-height: 2rem;
    cursor: pointer;
    z-index: 3;
    border-radius: 5rem;
    background-color: #ffffff00;
    color: #8d8d8d;
    transition: all .5s ease;
}

.close-button:hover{
    background-color: #cececea8;
}


//////////// form-logo-header /////////////

// .form-logo-header {
//     margin-top: -3vw;
//     width: 30vw;
//     height: 10vw;
//     background-size: 25vw 14vw;
//     min-width: 100px;
//     background-image: url(https://s3-us-west-2.amazonaws.com/mybnb-seeds/LogoLg_v1.png);
//     background-position-x: 34%;
//     background-repeat: no-repeat;
// }


///////////// login-form //////////////////

.login-form > .error {
    text-align: center;
    padding: 0px;
    color: red;
    min-width: 70%;
    margin: -10px 0px -10px 0px;
    font-size: 12px;
}


.login-form p {
    padding: 5px 0px 0px 15%;
    margin-bottom: 5px;
    color: #AEAEAE;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
}

///////////// login-input ////////////////////


.login-input {

}



/////////////// session-submit ////////////////////


.session-submit{ 
    background: rgb(255, 90, 95);
    min-width: 70%;
    padding: 15px 20px 15px 20px;
    margin: 30px auto 15px auto ;
    color: white;
    border-radius:3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6vh;
    text-align: center;
    transition: .5s all ease;
    border:none;
}


.session-submit:hover{
    background: rgb(223, 76, 81);
    cursor: pointer;
}

.session-submit-demo {
    background: rgb(40, 125, 191);
    min-width: 70%;
    padding: 15px 20px 15px 20px;
    margin: 0px auto 15px auto ;
    color: white;
    border-radius:3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6vh;
    text-align: center;
    transition: .5s all ease;
    border:none;
}

// .session-submit[type="text"] {
//     text-align: center !important;
// }



//////////// session-footer /////////////////////////


.thin-line{
    margin: -.5vw auto .5vw auto;
    height: .25px;
    min-width: 70%;
    border: .5px solid #d2d2d2a1;
    margin-bottom: 20px;
}

// .thin-line-demo {
//     margin: -.5vw auto .5vw auto;
//     height: .25px;
//     min-width: 70%;
//     border: .5px solid #d2d2d2a1;
//     margin-bottom: 20px;   
// }

.session-footer > p{
    display: inline;
    // overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    // font-size: 16px !important;
    // font-weight: 400 !important;
    // line-height: 1.375em !important;
    // color: rgb(72, 72, 72) !important;
    // margin: 0px !important;
    padding: 0px 10% 20px 10%;
    background: none;
    border: none;
    color: #1a99c4;
    font-size: 1.5vh;
    text-decoration: none;
    text-align: inherit;
    padding: 0px 5% 20px 0%;
}

///////////////////////////////////////////////////////




.login-signup > button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2vh;
    color: white;
    text-decoration: none;
    margin-right: 30px;
    background: none;
    border: none;
}

.login-signup > button:hover {
    cursor: pointer;
}





