.spot-detail-container{

    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
    min-height: 1px;
    box-sizing: border-box;
    /* display: block; */
    overflow: hidden;

}

.spot-show-details{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    -webkit-font-smoothing: antialiased;

        display: flex;
    flex-wrap: wrap;
            padding-top: 20px;
    padding-left: 20px;
}

.spot-description{

    overflow-wrap: break-word;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75em;
    color: rgb(72, 72, 72);
        padding: 20px;
}

