.spot-show-main{
    width:1835px;
    height:691px;
}

.show-bottom{
    max-width: 1760px;
    padding-left: 80px;
    padding-right: 80px;
        position: relative ;
    margin-left: auto ;
    margin-right: auto ;
}