/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  body {
    font-family: 'Abel', sans-serif;
  }

 header {
   margin-left: 5%;
 }

 h1, h5 {
   margin-bottom: 0px;
 }

 .header-name {
   margin: 7px 0 0 0;

 }

 .header-favorites {
   margin: 4px 0 4px 0;
   font-size: 14px;
 }

 .login-form-container {
   display: flex;
   justify-content: center;
 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .login-input {
   margin-left: 20px;
 }

 .login-form-box {
   outline: 1px solid black;
   padding: 20px;
   background: white;
   position: relative;
 }

 .header-link {
   text-decoration: none;
   color: black;
 }

 hr {
   border-bottom: 1px solid grey;
 }

 .session-submit {
   text-transform: capitalize;
 }

 .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .close-x {
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
 }
